$body: #f2cee6;
$stroke: #0d1b1e;
$shadow: #2dc7ff;
$size: 8rem;
$halftone: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHElEQVQYV2NUVFT8f//+fUYGBgYGMAEDcA5IBQCKJQVmn76DhAAAAABJRU5ErkJggg==");

@mixin stroke-width($property) {
    -webkit-text-stroke-width: $property;
    -moz-text-stroke-width: $property;
}

@mixin stroke-color($property) {
    -webkit-text-stroke-color: $property;
    -moz-text-stroke-color: $property;
}

@mixin background-clip($property) {
    -webkit-background-clip: $property;
    -moz-background-clip: $property;
    background-clip: $property;
}

@mixin fill-color($property) {
    -webkit-text-fill-color: $property;
    -moz-text-fill-color: $property;
}

.card--name {
    font-size: $size;
    letter-spacing: 6px;
    margin: 2rem 0;
}