* {
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
    font-family: "Segoe UI";
}
body {
    position: relative;
}
footer {
    background-color: #6E9E69;
    color: #F9F9F9;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
}
.backLink {
    text-decoration: none;
    color: #5A5A5A;
    background-color: transparent;
    transition: 1s;
    font-size: 24pt;
    position: relative;
    z-index: 1;
    top: 12em;
    left: 8em;
}
.backLink:hover {
    color: #6E9E69;
}
.resumed .backLink {
    top: 1em;
}
nav {
    background-color: #6E9E69;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 100;
}
nav a {
    background-color: #6E9E69;
    color: #F9F9F9;
    text-decoration: none;
    padding: 1.2em;
    display: inline-block;
    font-size: 14pt;
}
#topBtn {
    background-color: rgba(110, 158, 105, 0.6);
    color: #F9F9F9;
    z-index: 99;
    display: none;
    border: none;
    position: fixed;
    right: 30px;
    bottom: 20px;
    outline: none;
    cursor: pointer;
    width: 1.25em;
    height: 1.25em;
    font-size: 30pt;
    text-align: center;
    border-radius: 10px;
}
#top {
    min-height: 101vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#top h1 {
    color: #5A5A5A;
    font-family: "Baskerville Old Face";
    font-size: 42pt;
    text-align: center;
    position: relative;
    margin-bottom: 0.5em;
}
#circles {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.circle {
    padding: 3.75em;
    border-radius: 50%;
    border: none;
    background-color: #6E9E69;
    box-shadow: 3px 3px #5A5A5A;
}
.circle:hover {
    box-shadow: -1px -1px #858585;
    background-color: #4A6D47;
    cursor: pointer;
}
.circle:hover + p {
    color: black;
}
.circle1, .circle2, .circle3, .circle4 {
    width: 10em;
    text-align: center;
}
.circle1 p, .circle2 p, .circle3 p, .circle4 p {
    margin-top: 0.5em;
    color: #5A5A5A;
    font-size: 18pt;
}

hr {
    width: 80%;
    position: relative;
    left: 10%;
    border-color: #5A5A5A;
}

#about {
    margin-top: 3em;
    margin-left: 15vw;
    width: 60vw;
}
#about a {
    text-decoration: none;
    color: #6E9E69;
    transition: 0.5s;
}
#about a:hover {
    font-size: 18pt;
    color: #4A6D47;
}
#about p {
    color: #5A5A5A;
    font-size: 16pt;
    margin-bottom: 2em;
    margin-left: 2em;
}
#about h2 {
    font-size: 26pt;
    margin-bottom: 1em;
}
#about h3, #resumes h3 {
    font-size: 18pt;
    margin-bottom: 1em;
}
#about h2, #about h3, #resumes h3 {
    color: #6E9E69;
}
#contact {
    margin-bottom: 5em;
}
.icons a {
    text-decoration: none;
    color: #5A5A5A;
    font-size: 14pt;
    text-align: center;
    transition: 0.5s all;
}
.icon {
    position: relative;
    display: inline-block;
}
.icon .icontext {
    visibility: hidden;
    width: 150px;
    background-color: #6E9E69;
    color: #F9F9F9;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 70%;
    left: 75%;
    margin-left:-60px;
    opacity: 0;
    transition: opacity 0.5s;
}
.icon .icontext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 15%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #6E9E69 transparent transparent transparent;
}
.icon:hover .icontext {
    visibility: visible;
    opacity: 1;
}
i {
    color: #5A5A5A;
    transition: 0.5s all;
    margin: .5em 0.25em .5em 1.25em;
    position: relative;
    top: 0.21em;
}
.icon:hover i {
    color: #6E9E69;
    transform: rotateZ(10deg) scale(1.1);
}

#resumes {
    max-width: 100%;
    height: 65em;
}
.resume {
    width: 25em;
    height: 32.5em;
    background-color: #F9F9F9;
    border: 0.5pt solid #5A5A5A;
    border-radius: 20px;
    box-shadow: 5px 5px #5A5A5A;
}
.resume a {
    text-decoration: none;
}
.resume:hover {
    box-shadow: -0.5px -0.5px #858585;
    background-color: rgba(90, 90, 90, 0.1);
}
.resume:hover p {
    background-color: #4A6D47;
}
#color {
    color: #5A5A5A;
    position: relative;
    left: 9.5em;
}
#color:hover {
    font-weight: bold;
}
.resume p {
    background-color: #6E9E69;
    text-align: center;
    color: #F9F9F9;
    padding: 1em 0 1em 0;
    border-radius: 0 0 20px 20px;
    border: 0.5pt solid #5A5A5A;
    font-size: 16pt;
    position: relative;
    top: -1.1em;
    right: 0.9px;
    width: 100%;
}
.resume1 {
    position: relative;
    left: 15%;
    top: 5em;
}
.resume1 img, .resume2 img {
    width: 90%;
    position: relative;
    left: 1.25em;
    top: 3em;
    border: 0.5pt solid #5A5A5A;
    filter: grayscale(100%);
    transition: all 0.5s;
}
.resume1:hover img, .resume2:hover img {
    filter: none;
    top: 2em;
    box-shadow: 2px 2px 0.5px rgba(90, 90, 90, 0.2);
}
.resume2 {
    position: relative;
    left: 60%;
    top: -15em;
}

#projects {
    height: auto;
    padding-bottom: 8em;
    text-align: center;
    background-color: #5A5A5A;
}
#triag {
    width: 0;
    height: 0;
    position: relative;
    bottom: 6.25em;
    border-bottom: 100px solid #5A5A5A;
    border-right: 98.5vw solid transparent;
}
.proj, .proj p, .proj a {
    background-color: transparent;
}
#projects h2 {
    color: #F9F9F9;
    position: relative;
    text-align: center;
    font-size: 36pt;
    background: transparent;
    z-index: 1;
}
.proj {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}
.proj img {
    width: 100%;
    border-radius: 20px;
}
.desc {
    background-color: transparent;
    position: relative;
    width: 37em;
    top: 23em;
    left: 2em;
    text-align: left;
}
.desc a {
    text-decoration: none;
    color: #5A5A5A;
    font-size: 36pt;
    font-weight: bold;
    transition: 1s;
    padding-bottom: 5em;
    padding-top: 3em;
    padding-right: 20em;
    z-index: 1;
}
.proj:hover .desc a {
    color: #6E9E69;
    z-index: 1;
}
.proj .desc p {
    color: #5A5A5a;
    margin-left: 2em;
    font-size: 24pt;
    font-style: italic;
    z-index: 1;
}

/* start of individual project page */
.projPage {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}
.topImg img {
    width: 98vw;
    position: relative;
}
.objective h3, .process h3, .finalPro h3, .overall h3 {
    color: #6E9E69;
    font-size: 28pt;
}
.objective h4, .process h4, .finalPro h4, .overall h4 {
    color: #5A5A5A;
    font-size: 20pt;
    margin: 0.5em;
    font-weight: normal;
}
.objective p, .process p, .finalPro p, .overall p {
    color: #5A5A5A;
    font-size: 18pt;
    margin: 1em;
    font-weight: lighter;
}
.objective, .process, .finalPro, .overall {
    margin-bottom: 3em;
}
.objective {
    margin-top: 3em;
}
.overall {
    padding-bottom: 15em;
    margin-bottom: 0;
}

/* resume webpage part */
.resumed {
    background-color: #F9F9F9;
    width: 70vw;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px #858585;
    border: 1px solid red;
}
#header, #allBody {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-bottom: 2em;
}
.left {
    width: 65%;
}
.right {
    width: 35%;
    margin-top: auto;
    margin-bottom: auto;
}
.resumed ul {
    list-style: none;
}
.resumed ul li {
    font-size: 14pt;
    color: #5A5A5A;
}
.left h1 {
    color: #6E9E69;
    font-size: 48pt;
    margin-left: 0.5em;
}
.left h2 {
    color: #5A5A5A;
    font-size: 24pt;
    margin-left: 1.5em;
}
#move {
    position: relative;
    top: -2em;
    left: 0em;
}
#lSection {
    width: 30%;
    margin-left: 2.5em;
}
#rSection {
    width: 55%;
    margin-right: 2em;
}